/* @import 'https://js.arcgis.com/4.25/@arcgis/core/assets/esri/themes/light/main.css'; */

html,
body,
canvas {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  outline: 0;
}

#viewDiv {
  padding: 0 !important;
  margin: 0 !important;
  /* height: calc(100% - 110px); */
  height: 100%;
  width: 100%;
  outline: 0;
}

#widgetTitle {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

.recenter-tool {
  background-color: white;
  padding: 10px;
}


.esri-ui {
  overflow: visible;
  z-index: 20;
  /*To show suggested location even if map has a width/heigh of 0% */
}

.loading {
  z-index: 50;
  position: fixed;
  font-size: 30px;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  animation: jump .5s alternate infinite cubic-bezier(.5, 0.05, 1, .5);
}

.rotateLoading {
  animation: rotateLoading 3s infinite linear;
}

@keyframes rotateLoading {
  20% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-4deg);
  }

  85% {
    transform: rotate(0deg);
  }

  90% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

@keyframes jump {
  0% {
    transform: translate(-50%, -80%);
  }

  100% {
    transform: translate(-50%, -30%);
  }
}

.schedule-box {
  margin-top: 15px;
  position: fixed;
  z-index: 10;
}

@media (max-width: 768px) {
  .schedule-box {
    margin-top: 57px;
  }
}

.schedule-col {
  height: 140px;
}

.schedule {
  padding-left: 60px;
  padding-right: 300px;
  width: calc(100% - 0px);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.schedule::-webkit-scrollbar {
  display: none;
}

.game {
  margin-right: 5px;
  background-color: #fff;
  transition: background-color 125ms ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #6e6e6e;
  height: inherit;
  width: 240px;
  text-align: left;
  display: inline-block;
  padding: 8px 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.t1-bg:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  /* background-color: #fff; */
  background-image: url(/b-ball-explorer/img/team/t1league.png), url(/img/team/t1league.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.sbl-bg:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  /* background-color: #fff; */
  background-image: url(img/team/sbl.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.wsbl-bg:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  /* background-color: #fff; */
  background-image: url(img/team/wsbl-black.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.game .date {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  font-family: "Satoshi", "Noto Sans TC";
  font-weight: 700;
  margin-bottom: 5px;
}

.game .may-not-play {
  display: inline-block;
  margin-left: 20px;
  /* background: #dadada;
  padding: 5px 3px; */
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  font-family: "Satoshi", "Noto Sans TC";
  font-weight: 400;
  color: rgb(47, 47, 47);
}

.game .game-id,
.game .team {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0;
  font-family: "Satoshi", "Noto Sans TC";
  font-weight: 500;
  color: rgb(47, 47, 47);
  /* -webkit-text-stroke: 0.2px gray; */
}

.game .location {
  margin-top: 3px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  font-family: "Satoshi", "Noto Sans TC";
  font-weight: 400;
  color: rgb(47, 47, 47);
}

/* 預設隱藏浮現的 div */
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #6e6e6e;
  z-index: 999;
  animation: show 0.5s normal;
}

.overlay>.row {
  height: 100%;
  margin: 0;
}

.map-col {
  border: 2px solid #3e3e3e;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.overlay .col-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.overlay p {
  margin: 0;
  margin-top: 5px;
}

.overlay i {
  position: relative;
  left: calc(50% - 18px);
}

@keyframes show {
  from {
    height: 0%;
    width: 0;
    top: 50%;
    left: 50%;
  }

  to {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

/* 調整浮現的 div 中左右兩邊的寬度 */
@media (min-width: 768px) {
  .overlay .col-6 {
    width: 50%;
  }
}